body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  cursor: default;
    margin: 0px;
}

*{
    font-family: 'Roboto', sans-serif;
}

span{
    font-family: 'Kaushan Script', cursive;
}

h2, h6, h4{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    overflow: 0px;
}
h1,h2,h3,h4,h5,h6{
    line-height: 0.9;
    margin: 0px;
    padding: 0px;
}
a,a:hover{
    text-decoration: none;
}

ol,ul{
    list-style: none;
}

#banner{
     background: url(../images/front-header.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.banner_overlay{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(to right, rgba(252, 227, 138, 0.8), rgba(243, 131, 129, 0.8));
}
.container-fluid li{
    color: white
}
.banner_text span{
    font-weight: 400;
    font-size: 72px;
    color: white
}
.banner_text h3{
    font-weight: 800;
    font-size: 110px;
    font-display: center;
    color: white;
    text-transform: uppercase;
    padding-top: 44px;
    padding-bottom: 126px;
}
.banner_text h3::after{
    width: 87px;
    height: 3px;
    background: white;
    content: '';
    position:absolute;
    left: 910px;
    bottom: 200px;
 }

 .navbar_main {
    padding: 20px 200px;
    
  }
  
  .navbar_main a {
    border-bottom: 1px solid rgba(252, 227, 138, 0);
    transition: all 100ms ease-in-out;
  }
  
  .navbar_main a:hover {
    color: #fce38a;
    border-bottom: 1px solid #fce38a;
  }
  
  .navbar_logo_name {
    font-size: 30px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .navbar_items {
    font-size: 13px;
    font-family: "Montserrat";
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  .navbar_items li {
    margin: 5px 10px;
  }

#about-us{
    padding-top: 20px;
}
.about_text span{
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding-top: 44px;
}
.about_text h3{
    font-weight: 800;
    font-size: 30px;
    font-display: center;
    padding-top: 15px;
    color: black;
    text-transform: uppercase;
}
.about_text h3::after{
    width: 65px;
    height: 3px;
    background: #f38181;
    content: '';
    position:absolute;
    left: 910px;
    bottom: 30px;
}
.about_text p{
    font-display: center;
    padding: 40px;
}
.about-pic{
    padding-left: 200px;
    padding-right: 200px;
}


@media (max-width: 1199px) {
  .about-us {
    height: 600px;
  }
}

.second_section_numbers {
    margin-top: 60px;
    background-color: #95e1d3;
  }
  
  .item_numbers {
    border-right: 1px solid #b5eae0;
  }
  
  .item_numbers:last-child {
    border: none;
  }
.second_section_numbers_header {
    padding-top: 35px;
    font-size: 36px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  
  .second_section_numbers_paragraph {
    padding-bottom: 30px;
    font-size: 12px;
    font-family: "Montserrat";
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  
  @media (max-width: 1199px) {
    #amazing-services {
      height: 600px;
      padding-left: 200px;
    }
  }

#amazing-services span{
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding-top: 44px;
  }
 #amazing-services h3{
    font-weight: 800;
    font-size: 30px;
    padding-top: 15px;
    font-display: center;
    color: black;
    text-transform: uppercase;
  }
  
  #amazing-services h3::after{
    width: 65px;
    height: 3px;
    background: #f38181;
    content: '';
    position: absolute;
    left: 890px;
    bottom: -690px;
  }

  .third_section {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 250px;
    height: 70vh;
    background-color: white;
    color: black;
  }
  
  .third_section_first_row {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .fifth_section {
    padding-top: 20px;
    position: relative;
    height: auto;
    background-color: white;
    margin-bottom: 40px;
  }

  @media (max-width: 1199px) {
    #what-we-do {
      height: 900px;
      padding-left: 200px;
    }
  }

  #what-we-do span{
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding-top: 44px;
  }
  #what-we-do h3{
    font-weight: 800;
    font-size: 30px;
    font-display: center;
    padding-top: 15px;
    color: black;
    text-transform: uppercase;
  }
  
  #what-we-do h3::after{
    width: 65px;
    height: 3px;
    background: #f38181;
    content: '';
    position: absolute;
    left: 910px;
    bottom: 500px;
  }
  .accordion-button img{
    padding-right: 20px;
  }
  
  @media (max-width: 1199px) {
    .our-team {
      height: 900px;
      padding-left: 200px;
    }
  }

  #our-team{
    padding-top: 20px;
    padding-bottom: 20px;
}
.team_text span{
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding-top: 44px;
}
.team_text h3{
    font-weight: 800;
    font-size: 30px;
    font-display: center;
    padding-top: 15px;
    color: black;
    text-transform: uppercase;
}
.team_text h3::after{
    width: 65px;
    height: 3px;
    background: #f38181;
    content: '';
    position:absolute;
    left: 910px;
    bottom: -2020px;
}
.team-details{
    font-display: center;
    padding: 40px;
}
.team-pic{
    padding-left: 150px;
    padding-right: 150px;
}
.our-team-item {
  position: relative;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.member_card_background:hover {
  opacity: 0.9;
}
.member_card_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  transition: .5s ease;
  opacity: 0;
  background: #f38181;
  background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%);
  background: -webkit-linear-gradient(top, #f38181 0%, #fce38a 100%);
  background: linear-gradient(to bottom, #f38181 0%, #fce38a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a', GradientType=0);
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
  -moz-box-shadow: 10px 10px 0px 0px #95e1d3;
  box-shadow: 10px 10px 0px 0px #95e1d3;
}
.member_name {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
}

.member_card_options {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.member_social_link {
  font-size: 24px;
  padding: 20px;
  color: #f38181;
  background-color: #fce38a;
}

.member_social_link:hover {
  color: #fff;
  background-color: #f38181;
}

@media (max-width: 991px) {
  .seventh_section {
    padding-bottom: 40px;
    height: auto;
  }
  .member_social_link {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .seventh_section {
    height: auto;
  }
  .member_card_photo {
    margin: 10px 64px;
  }
  .margin_cleaner {
    margin: 0;
  }
}
.eighth_section {
  padding-top: 20px;
  height: 170px;
  background-color: #f8f8f8;
}

@media (max-width: 1199px) {
  .eighth_section {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .eighth_section {
    display: none;
  }
}

#some-of-our-work span{
  font-weight: 400;
  font-size: 24px;
  color: black;
  padding-top: 44px;
}
#some-of-our-work .work h3{
  font-weight: 800px;
  font-size: 30px;
  padding-top: 15px;
  font-display: center;
  padding-top: 15px;
  color: black;
  text-transform: uppercase;
}
#some-of-our-work h3::after{
  width: 65px;
  height: 3px;
  background: #f38181;
  content: '';
  position:absolute;
  left: 910px;
  bottom: 30px;
}

.ninth_section {
  padding-top: 3.5rem;
  height: auto;
  background-color: white;
}

.grid_wrapper h3{
  font-size: 15px;
}

.grid_wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid_wrapper .grid_item_number1 {
  grid-column: 1;
  grid-row: 1;
}

.grid_wrapper .grid_item_number2 {
  grid-column: 1;
  grid-row: 2;
}

.grid_wrapper .grid_item_number3 {
  grid-column: 2;
  grid-row: 1;
}

.grid_wrapper .grid_item_number4 {
  grid-column: 2;
  grid-row: 2;
}

.grid_wrapper .grid_item_number5 {
  height: 200%;
  background-image: url("../images/simg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  grid-column: 3;
  grid-row: 1 / 2;
}

.grid_wrapper .grid_item_number6 {
  grid-column: 4;
  grid-row: 1;
}

.grid_wrapper .grid_item_number7 {
  grid-column: 4;
  grid-row: 2;
}

.grid_wrapper .grid_item {
  position: relative;
}

.grid_wrapper .grid_item:hover .grid_item_background {
  opacity: 0.9;
}

.grid_wrapper .grid_item_image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.grid_wrapper .grid_item_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  transition: .5s ease;
  opacity: 0;
  cursor: pointer;
  background: #f38181;
  background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%);
  background: -webkit-linear-gradient(top, #f38181 0%, #fce38a 100%);
  background: linear-gradient(to bottom, #f38181 0%, #fce38a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a', GradientType=0);
}

.grid_wrapper .grid_options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.grid_wrapper .grid_options img {
  margin-bottom: 15px;
}

.grid_wrapper .grid_options h3 {
  font-size: 12px;
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.grid_wrapper .grid_options p {
  font-size: 12px;
  font-family: "Roboto";
  color: white;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 991px) {
  .grid_wrapper {
    margin-bottom: 30px;
  }
  .grid_wrapper .grid_options h3 {
    font-size: 10px;
  }
  .grid_wrapper .grid_options p {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .grid_wrapper {
    margin-bottom: 30px;
  }
  .grid_item_background {
    display: none;
  }
}

.tenth_section {
  margin-top: 2rem;
}

.tenth_section .carousel-item {
  background-color: white;
}

.second_quote_image {
  height: 130px;
}

@media (max-width: 767px) {
  .tenth_section {
    display: none;
  }
}

.eleventh_section {
  padding-top: 3.5rem;
  height: auto;
  background-image: url("../img-assets/bgimg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.eleventh_section h6 {
  font-size: 15px;
  font-family: "Roboto";
  color: #333333;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.people_container {
  margin-bottom: 4rem;
}

.spacer-line-inside {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-width: 3px;
}

.lorem-description {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

.twelfth_section {
  padding-top: 20px;
  height: 80vh;
  background-color: white;
}

#what-people-say span{
  font-weight: 400;
  font-size: 24px;
  color: black;
  padding-top: 44px;
}
#what-people-say h3{
  font-weight: 800;
  font-size: 30px;
  font-display: center;
  padding-top: 15px;
  color: black;
  text-transform: uppercase;
}
#what-people-say h3::after{
  width: 65px;
  height: 3px;
  background: #f38181;
  content: '';
  position:absolute;
  left: 910px;
  bottom: 30px;
}

.open_map {
  height: 25vh;
  background-image: url("../images/openMap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.open_map img {
  padding: 40px 0 32px 0;
  cursor: pointer;
}

.open_map .main-text-header {
  color: #f38181;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
  text-align: center;
}

.open_map .spacer-line {
  border-bottom-width: 4px;
}

@media (max-width: 1199px) {
  .open_map {
    height: auto;
  }
  .open_map img {
    padding: 20px 0 40px 0;
  }
  .open_map .main-text-header {
    padding-bottom: 40px;
  }
  .open_map .spacer-line {
    display: none;
  }
}

@media (max-width: 991px) {
  .open_map {
    height: auto;
  }
  .open_map img {
    padding: 40px 0 40px 0;
  }
  .open_map .main-text-header {
    padding-bottom: 40px;
  }
  .open_map .spacer-line {
    display: none;
  }
}

.thirteenth_section {
  padding-top: 3.5rem;
  height: 60vh;
  background-color: #f8f8f8;
}

.card_mogo {
  padding: 0;
  border: none;
}

.card_mogo a {
  margin-left: 3px;
  margin-right: 0;
}

.card_mogo a:first-child {
  margin-left: 20px;
}

.card_background {
  padding: 10px 0;
  background-color: #f8f8f8;
}

.logo-gray {
  font-size: 30px;
  font-family: "Montserrat";
  color: #cccccc;
  font-weight: bold;
  line-height: 1.2;
}

.followers-cout {
  color: black;
  margin-bottom: 0;
  margin-top: 45px;
}

.your_email {
  font-size: 15px;
  font-family: "Roboto";
  color: #e6e6e6;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.btn_subscribe {
  padding: 10px 30px;
  background-color: #95e1d3;
  border: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.thirteenth_title {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 40px;
}

.other_blogs {
  margin-top: 10px;
}

.other_blogs_header {
  font-size: 12px;
  font-family: "Montserrat";
  color: #333333;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
}

.lorem_small {
  font-size: 12px;
  margin-bottom: 0;
}


.footer {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 20px;
}
.azizul {
    color: #f38181;
}

.sajal {
    color: #95e1d3;
}